.back-to-top-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: var(--dark-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    z-index: 999;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top-button.visible {
    opacity: 0.9;
  }

  .BackToTop {
    width: 16px;
  }


