.back-to-top-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background-color: var(--dark-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.1em solid var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
  }
  

  .BackToTop {
    width: 20px;
  }


