.projectsContainer {
  display: flex;
}

.portfolio {
  position: relative;
  margin-bottom: 15em; 
}

.projectsSection {
  padding: 2em;
  margin-bottom: 2em; 
}

.progress {
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  color: var(--dark-secondary);
  text-shadow: 2px 3px 4px rgba(83, 119, 128, 0.9); 
  font-size: 1.5rem;
  z-index: 998;
}

.progressBarContainer {
  background-color: rgba(30, 30, 30, 0.9); 
}

.progress .progressBar {
  height: 6px;
  background-color: var(--blue);
}

.progressTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0.8em 0;
  background-color: rgba(30, 30, 30, 0.9); 
}

.progress h2 {
  position: relative;
}

.titleImg {
  width: 40px;
  height: 40px;
}

.projectsMoreBtn {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    padding: 0.7em 1.6em;
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
   }

.projectsMoreBtn {
    background: var(--dark-secondary);
    color: var(--dark-main);
}

.projectsMore {
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 10em;
}


@media screen and (max-width: 600px) {
  .progress {
    font-size: 1.2rem;
    flex-direction: column; 
    align-items: center;
  }
  .imgContainer {
    max-width: 100%; 
  }
}


@media screen and (min-width: 700px) {

  .projectsMoreBtn {
    font-size: 0.9rem;
  }

  .portfolio {
    margin-bottom: 5em; 
  }

  .progressTextContainer {
    padding: 0.7em 0;
    font-size: 1.7rem;
  }
} 