:root {
  --dark-main: #1E1E1E;
  --dark-secondary: #D6D7D7;
  --blue: #537780;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Space Mono", monospace;
  background-color: var(--dark-main);
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* CONTAINER */
.container {
  width: 100vw;
  text-align: center;
}

